{{ define "main" }}
            {{ $dateFormat := $.Site.Params.dateFormat | default "2 January 2006" }}

<h1>{{ .Title }}</h1>
            {{.Content}}

            <h3>Upcoming</h3>
            <ul class = "events">

              {{ range  where (where .Site.Pages.ByDate "Params.category" "events") "Params.date" "gt" now}}
                <li><a href="{{ .Params.link}}">{{ .Title}}</a> <br>
                    {{ if eq .Params.ongoing "yes"}}
                        <span class="emphasis">Ongoing</span>
                      {{else}}
                          <span class="emphasis">{{.Date.Format $dateFormat}}</span>
                      {{ end }}
                  {{.Params.summary}}</li>
              {{ end }}

            </ul>

                  <h3>Past</h3>
        <ul class = "events">
        {{ range  where (where .Site.Pages.ByDate.Reverse "Params.category" "events") "Params.date" "<" now}}
        <li><a href="{{ .Params.link}}">{{ .Title}}</a> <br> <span class="emphasis">{{.Date.Format $dateFormat}}</span>
          {{.Params.summary}}</li>
        {{ end }}

{{ end }}
