{{ define "main" }}
            {{ $dateFormat := $.Site.Params.dateFormat | default "2 January 2006" }}

<h1>{{ .Title }}</h1>
            {{.Content}}

            <h3>Upcoming</h3>
            <ul class = "events">
            {{ range  where (where .Site.Pages.ByDate "Params.kind" "roundtable") "Params.date" "gt" now}}
              <li><a href="{{ .Params.link}}">{{ .Title}}</a> <br>
                <span class="emphasis">{{.Date.Format $dateFormat}}</span>
                {{.Params.summary}} More information and registration on <a href="{{ .Params.link}}">Eventbrite.</a></li>
            {{ end }}
            </ul>

                  <h3>Past</h3>
        <ul class = "events">
        {{ range  where (where .Site.Pages.ByDate.Reverse "Params.kind" "roundtable") "Params.date" "<" now}}
        <li><a href="{{ .Params.link}}">{{ .Title}}</a> <br> <span class="emphasis">{{.Date.Format $dateFormat}}</span>
          {{.Params.summary}} Read our memo <a href="{{ .Params.link}}">here.</a></li>
        {{ end }}

{{ end }}
